@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("$className;format="decap"$.title"))) {

    @if(form.errors.nonEmpty) {
        @govukErrorSummary(ErrorSummaryViewModel(form))
    }

    <h2 id="journey-caption" class="govuk-caption-l hmrc-caption-l">
        <span class="govuk-visually-hidden">@messages("section.heading.checkPayGapsOnline.visually.hidden") </span>@messages("")
    </h2>

    @formHelper(action = routes.$className$Controller.onSubmit(mode), Symbol("autoComplete") -> "off") {
        @govukRadios(
            RadiosViewModel.yesNo(
                field = form("value"),
                legend = LegendViewModel(messages("$className;format="decap"$.heading")).asPageHeading()
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
